@media (max-width: 768px) {
  .phone-height-carousel {
    height: 400px;
    margin-top: 1rem;
  }
}

.bg-blur {
  background-image: url("../../assets/hero-left.jpg");
  filter: blur(2px);
  /* z-index: -1; */
}
